body {
  font-size: 32px;
  background-color: #3d545f;
  background-image: url("img/mobile-bkgrd-x.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #3d545f;
  letter-spacing: 3px;
  font-weight: lighter;
  margin-bottom: 10em;
}

/* h1 {
  letter-spacing: 3px;
  font-weight: lighter;
  color:#9fecf4;
} */

/* .container {
  padding-top: 10em;
} */

span {
  color: white;
  letter-spacing: 3px;
  font-weight: lighter;
}

#center-btn {
  margin-top: 20em;
  margin-bottom: 1em;
  letter-spacing: 3px;
  font-weight: lighter;
}

/* .side-nav {
  color: #9fecf4;
} */

.create-event {
  background-color: #3d545f;
}

.collapsible-header {
  background-color: #436575;
}

.collapsible-body {
  background: linear-gradient(#08222e, #3d545f)
}

.event-link {
  letter-spacing: 3px;
  font-weight: lighter;
}

.footer {
  letter-spacing: 3px;
  font-size: 40px;
  color:#9fecf4;
}
