body {
  background-image: url("img/mobile-bkgrd.svg");
  font-size: 32px;
  background-color: #3d545f;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #3d545f;
}

span {
  color: #e8b83f;
}

#with {
   color: #e8b83f;
   font-weight: bold;
}

.footer {
  letter-spacing: 3px;
  font-size: 40px;
  color:#9fecf4;
  font-weight: lighter;
}

.collapsible-header {
  background-color: #08222e;
  color: white;
  letter-spacing: 3px;
  font-weight: lighter;

}

#event-content {
  margin-top: 20em;
  background: linear-gradient(#08222e, #3d545f);
}

#event-name {
  letter-spacing: 3px;
  font-weight: lighter;
  color: white;
}

#users-list-text {
  letter-spacing: 3px;
  font-weight: lighter;
  color: white;
}

#event-details {
  letter-spacing: 3px;
  font-weight: lighter;
  color: white;
}

#start-button {
  letter-spacing: 3px;
  background-color: #e8b83f;
}
