<<<<<<< HEAD
body {
  font-size: 32px;
}
header {
  text-align: center;
  height: 20em;
  width: auto;
}
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.header-logo {
  background-image: url("img/header.svg");
=======
nav {
  background-color: #3d545f;
}

.body {
  font-size: 32px;
  background-image: url("img/hotdog-bkgrd.svg");
>>>>>>> 2f8f9a2aa957d12dc0a47dea2f116bcd6a0594b4
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
<<<<<<< HEAD
    background-image: url("img/mobile-bkgrd.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* footer {
    height: 10em;
    width: auto; */
  /* } */

  #submit {
    background-color: #3d545f;
  }
  #create-event {
    background-color: #3d545f;
  }
=======
  background-image: url("img/mobile-bkgrd.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #193944; */
  /* border-color: #08222e;
  border-width: medium; */
}
>>>>>>> 2f8f9a2aa957d12dc0a47dea2f116bcd6a0594b4
