nav {
  background-color: #3d545f;
}

body {
  background-image: url("img/mobile-bkgrd.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ingredients-input-label {
  font-family: 'Rubik', sans-serif;
}

#username-text {
  background-color: #3d545f;
}

.chips-container {
  padding-top: 3em;
  width: 70vw;
  height: 10em;
}
