nav {
  background-color: #3d545f;
  letter-spacing: 3px;
  font-weight: lighter;
}

body {
  background-image: url("img/mobile-bkgrd.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color:#9fecf4;
  background-color: #08222e;
}


.chips-container {
  padding-top: 3em;
  width: 70vw;
  height: 10em;
  background: linear-gradient(#08222e, #3d545f)
}

#save-button {
  margin-top: 1em;
  letter-spacing: 3px;
  font-weight: lighter;
}

#ingredients-input-label {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 3px;
  font-weight: lighter;
}

#username-text {
  letter-spacing: 3px;
  font-weight: lighter;
}
