nav {
  background-color: #3d545f;
  letter-spacing: 3px;
  font-weight: lighter;
}

body {
  background-color: #3d545f;
  background-image: url("img/mobile-bkgrd-x.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color:#9fecf4;
  /* background-color: #08222e; */
}


.chips-container {
  padding-top: 3em;
  width: 70vw;
  height: 10em;
  background: linear-gradient(#08222e, #3d545f);
  color: white;
}

.chips-context {
  color: white;
}

.chip {
  background-color: #9fecf4;
}

#save-button {
  margin-top: 1em;
  letter-spacing: 3px;
  font-weight: lighter;
  background-color: #e8b83f;
}

#ingredients-input-label {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 3px;
  font-weight: lighter;
}

#username-text {
  margin-top: 12em;
  letter-spacing: 3px;
  font-weight: lighter;
}

span {
  color: #e8b83f;
}
.footer {
  letter-spacing: 3px;
  font-size: 40px;
  color:#9fecf4;
  font-weight: lighter;
}
